<!-- <a ui-sref="home">Home</a> &lt; <span>List</span>

<h3>Available Categories in the Menu</h3>
<div>{{ menuCategoriesCtrl.menuCategories.length }}</div>
<ul>
    <li ng-repeat="item in menuCategoriesCtrl.menuCategories">
        ui-sref="itemDetail({itemId: $index})">
      {{ item.name }} of {{ item.short_name }}
    </li>
</ul>
<categories menuCategories="menuCategoriesCtrl.menuCategories"></categories>
<ui-view></ui-view> -->

<a ui-sref="home">Home</a> &lt; <span>List</span>

<h3>Available Categories in the Menu</h3>
<ul>
    <li ng-repeat="item in menuCategoriesCtrl.menuCategories">
        <a
            ui-sref="details({categoryShortName: item.short_name })">
            "Category Id: " {{item.id}} , " Category Name: " {{ item.name }} of "Category Short Name: " {{ item.short_name }} </a>
    </li>
</ul>